.mainImage {
    background: url(images/congress1.jpeg) no-repeat center fixed;
    background-size: cover;
}

.signUpImage {
    background: url(images/building1.jpeg) no-repeat center fixed;
    background-size: cover;
}

.loginImage {
    background: url(images/building2.jpeg) no-repeat center fixed;
    background-size: cover;
}

.exampleImage {
    background: no-repeat center fixed;
    background-size: cover;
    background-color: dodgerblue;
}

.centered {
    text-align: center;
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 30%;
    width: 100%;
}

h1 {
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color: white;
    font-size: 13em;
    text-shadow:
   -0.05em -0.05px 0.05px #000000,  
    0.05em -0.05px 0.05px #000000,
    -0.05em 0.05px 0.05px #000000,
     0.05em 0.05px 0.05px #000000;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: white;
    font-size: 4em;
}

h3 {
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 1.25em;
}

h4 {
    color: white;
    font-family: 'Times New Roman';
    font-size: 2.25em;
}

h5 {
    color: white;
    font-family: 'Times New Roman';
    font-size: 1.75em;
}

p {
    font-family: serif;
    color: white;
    font-size: 3em;
    text-shadow:
   -0.05em -0.05px 0.05px #000000,  
    0.05em -0.05px 0.05px #000000,
    -0.05em 0.05px 0.05px #000000,
     0.05em 0.05px 0.05px #000000;
}

.right {
    margin-top: 100px;
    text-align: right;
    font-size: 3em;
}

.left {
    margin-top: 100px;
    text-align: left;
    font-size: 2.5em;
    color: black;
}

ul li a {
    font-family: serif;
    text-decoration: none;
    color: white;
    font-size: 3em;
    background-color: dimgray;
}

ul li a:hover {
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 3em;
    background-color: white;
}

ul li a:active {
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 3em;
    background-color: white;
}

ul li.noLink a {
    font-family: serif;
    text-decoration: none;
    color: dodgerblue;
    font-size: 3em;
    background-color: white;
}

ul li.noLink a:hover {
    font-family: serif;
    text-decoration: none;
    font-weight: normal;
    color: dodgerblue;
    font-size: 3em;
    background-color: white;
}

ul li.noLink.done a {
    font-family: serif;
    text-decoration: none;
    color: dodgerblue;
    font-size: 3em;
    background-color: orange;
}



img {
    margin-left: auto;
    margin-right: auto;
}